@import "~jspsych/css/jspsych.css";
@import "../node_modules/bootstrap/scss/bootstrap";

.jspsych-display-element {
  background-color: #ffffff;
}

.jspsych-content {
  max-width: 1500px;
}

#legal {
  max-width: 1000px;
}

#intro {
  max-width: 1000px;
  img {
    border: 3px solid #555;
    padding: 5px;
  }
}

.jspsych-survey-text-preamble {
  max-width: 800px;
}
.jspsych-survey-text-question {
  max-width: 800px;
  align-items: center;
}
.tangram-display {
  margin: auto;
  //background-color: blue;

  #header {
    font-size: 20px;
    //margin: 10px;
    //margin: auto;
    //background-color: red;

    text-align: left;
    //background-color: lightblue;
    padding-bottom: 10px;
  }
  #feedback {
    height: 40px;
    font-size: 30px;
    padding-bottom: 10px;
    margin: auto;
  }

  #text-buttons {
    margin: auto;
  }
  #SprCanvas {
    margin-bottom: 10px;
    image-rendering: auto;
  }

  #btngroup {
    display: grid;
    flex-wrap: nowrap;
    grid-gap: 0px;
    justify-content: center;
    //background-color: red;
    aspect-ratio: 4/3;

    .button {
      aspect-ratio: 1/1;
      width: 90%;
      flex-grow: 0;
      flex-shrink: 5;
      margin: 2rem;
      justify-content: start;
      cursor: pointer;
      border: 4px solid #aaa;
      border-radius: 4px;
      color: white;
      margin: 10px;

      .tangram {
        max-width: 100%;
        max-height: 100%;
        padding: 4px;
        background-color: white;
        margin: 0px;
        border: 0px;

        img {
          max-width: 100%;
          max-height: 100%;
          border: 0px;
          padding: 0px;
          margin: 0px;
        }
      }
    }
  }
}
